<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
	</head>
	<body>
	
		<h1>Hello World</h1>
		
		<%= new Date() %>
		<p/>
		<%- "<b>Bold Move</b>" %>
		<p/>
		<%= "<b>Bold Move</b>" %>
		<p/>
		<a href="foo.html">Foo</a>

	</body>
</html>
